body {
	margin: 0;
	background-color: #ffffff;
}
input,
body {
	font-family: "Roboto", sans-serif;
}

a,
p,
textarea,
input,
ul,
h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

a {
	color: inherit;
}

p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	/* line-height: 138.19%; */
	color: #636363;
}

button,
input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 138.19%;
	text-transform: uppercase;

	border-radius: 10px;
	padding: 15.69px 48.31px 13.31px 48.31px;
}

.nav {
	background-color: #3a416f;
	height: 41.02px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav .icon {
	height: 18px;
	width: 18px;
}

.nav .earth {
	background: url(./img/icon/earth.svg) 50% 50% no-repeat;
	background-size: 100% 100%;
	margin-right: 13px;
}

.nav .button {
	cursor: pointer;
	user-select: none;
}

.row.center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav p,
a {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
}

.nav a {
	text-decoration: underline;
}

.nav a:hover {
	color: #d0d0d0;
}

.header {
	display: flex;
	flex-direction: column;
	background: url(./img/back-min.jpg) no-repeat;
	background-position: center center;
	/* background-attachment: fixed; */
	background-size: cover;
	height: calc(100vh - 41.02px);
}

.top,
.nav {
	padding: 0 37.32px 0 42.8px;
}

.header .top {
	background: linear-gradient(180deg, rgba(23, 23, 23, 0.78) 0%, rgba(56, 56, 56, 0) 100%);
	height: 88px;
	justify-content: space-between;
}

.header .top .logo {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .top ul {
	flex: 2;
	list-style: none;
}

.header .top li {
	cursor: pointer;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 200.69%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	user-select: none;
	margin-right: 40px;
}

.top .cancel {
	cursor: pointer;
	right: 38.52px;
	display: inline-block;
	position: relative;
	width: 38.52px;
	height: 38.52px;
	background: url(./img/icon/cancel.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.top .searchicon {
	width: 17.86px;
	height: 18px;
	background: url(./img/icon/search.png) 50% 50% no-repeat;
	background-size: 100% 100%;
	margin-right: 7.27px;
}

.top .iconw {
	height: 44px;
	width: 44px;
}

.iconw.bag {
	background: url(./img/icon/bag.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.iconw.heart {
	margin-left: 17.38px;
	background: url(./img/icon/heart.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.top input {
	padding: 10px 16px;
	background: #f7f8fb;
	border-radius: 8px;
	font: normal 12px Roboto;
}

.top input::placeholder {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 200.69%;
	letter-spacing: 0.08em;
	opacity: 1;
	color: #000;
}

.special {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.special .summer {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	line-height: 108px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.special .sale {
	position: relative;
	top: -30px;
	left: -15px;
	font-family: Mr Dafoe;
	font-style: normal;
	font-weight: normal;
	font-size: 82px;
	line-height: 84.4%;
	text-align: center;
	color: #e85757;
	transform: rotate(-8.99deg);
}

.special .off p {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.special .off p.upto {
	margin-right: 18.31px;
	font-size: 32px;
	line-height: 38px;
}
.special .off p.stp {
	font-size: 135px;
	line-height: 162px;
}
.special .off p.ff {
	font-size: 70px;
	line-height: 105px;
	align-self: flex-end;
}

.special button {
	margin-top: 41.68px;
	color: #000000;
	background: #ffffff;
}

.title {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 132%;
	text-transform: uppercase;
	color: #000000;
}

button.dark {
	padding: 15.5px 43.78px;
	background: #272727;
	color: #ffffff;
}

.images {
	margin-left: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.images img {
	height: calc(50% - 3px);
}

.infusion {
	margin-top: 14.85px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 138.19%;
	color: #585858;
	float: right;
}

.menu {
	display: flex;
	padding-bottom: 57.21px;
	padding-top: 60.09px;
	padding-left: 28.51px;
	padding-right: 28.51px;
}

.menu .item {
	text-align: center;
	flex: 1;
	margin: 3px;
	background-position: center center;
	background-size: cover;
	height: 78vh;
}

.menu p.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000000;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
	margin-bottom: 32.72px;
	margin-top: 30.85px;
}

.menu .link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu .link p {
	margin-left: 22.46px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.menu .link i.arrow {
	cursor: pointer;
	width: 79.94px;
	height: 79.83px;
	background: url(./img/icon/larrow.svg) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.toget {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #4f5255;
}

.footer {
	height: 42.5vh;
	background: linear-gradient(0deg, #F5F7F6, #F5F7F6), #FFFFFF;
}
