body {
	margin: 0;
	background-color: #ffffff;
}
input,
body {
	font-family: "Roboto", sans-serif;
}

a,
p,
textarea,
input,
ul,
h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

a {
	color: inherit;
}

p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	/* line-height: 138.19%; */
	color: #636363;
}

button,
input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 138.19%;
	text-transform: uppercase;

	border-radius: 10px;
	padding: 15.69px 48.31px 13.31px 48.31px;
}

.nav {
	background-color: #3a416f;
	height: 41.02px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav .icon {
	height: 18px;
	width: 18px;
}

.nav .earth {
	background: url(./img/icon/earth.svg) 50% 50% no-repeat;
	background-size: 100% 100%;
	margin-right: 13px;
}

.nav .button {
	cursor: pointer;
	user-select: none;
}

.row.center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav p,
a {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
}

.nav a {
	text-decoration: underline;
}

.nav a:hover {
	color: #d0d0d0;
}

.header {
	display: flex;
	flex-direction: column;
	background: url(./img/back-min.jpg) no-repeat;
	background-position: center center;
	/* background-attachment: fixed; */
	background-size: cover;
	height: calc(100vh - 41.02px);
}

.top,
.nav {
	padding: 0 37.32px 0 42.8px;
}

.header .top {
	background: linear-gradient(180deg, rgba(23, 23, 23, 0.78) 0%, rgba(56, 56, 56, 0) 100%);
	height: 88px;
	justify-content: space-between;
}

.header .top .logo {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .top ul {
	flex: 2;
	list-style: none;
}

.header .top li {
	cursor: pointer;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 200.69%;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	user-select: none;
	margin-right: 40px;
}

.top .cancel {
	cursor: pointer;
	right: 38.52px;
	display: inline-block;
	position: relative;
	width: 38.52px;
	height: 38.52px;
	background: url(./img/icon/cancel.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.top .searchicon {
	width: 17.86px;
	height: 18px;
	background: url(./img/icon/search.png) 50% 50% no-repeat;
	background-size: 100% 100%;
	margin-right: 7.27px;
}

.top .iconw {
	height: 44px;
	width: 44px;
}

.iconw.bag {
	background: url(./img/icon/bag.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.iconw.heart {
	margin-left: 17.38px;
	background: url(./img/icon/heart.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.top input {
	padding: 10px 16px;
	background: #f7f8fb;
	border-radius: 8px;
	font: normal 12px Roboto;
}

.top input::placeholder {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 200.69%;
	letter-spacing: 0.08em;
	opacity: 1;
	color: #000;
}

.special {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.special .summer {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	line-height: 108px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.special .sale {
	position: relative;
	top: -30px;
	left: -15px;
	font-family: Mr Dafoe;
	font-style: normal;
	font-weight: normal;
	font-size: 82px;
	line-height: 84.4%;
	text-align: center;
	color: #e85757;
	transform: rotate(-8.99deg);
}

.special .off p {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.special .off p.upto {
	margin-right: 18.31px;
	font-size: 32px;
	line-height: 38px;
}
.special .off p.stp {
	font-size: 135px;
	line-height: 162px;
}
.special .off p.ff {
	font-size: 70px;
	line-height: 105px;
	align-self: flex-end;
}

.special button {
	margin-top: 41.68px;
	color: #000000;
	background: #ffffff;
}

.title {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 132%;
	text-transform: uppercase;
	color: #000000;
}

button.dark {
	padding: 15.5px 43.78px;
	background: #272727;
	color: #ffffff;
}

.images {
	margin-left: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.images img {
	height: calc(50% - 3px);
}

.infusion {
	margin-top: 14.85px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 138.19%;
	color: #585858;
	float: right;
}

.menu {
	display: flex;
	padding-bottom: 57.21px;
	padding-top: 60.09px;
	padding-left: 28.51px;
	padding-right: 28.51px;
}

.menu .item {
	text-align: center;
	flex: 1;
	margin: 3px;
	background-position: center center;
	background-size: cover;
	height: 78vh;
}

.menu p.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000000;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
	margin-bottom: 32.72px;
	margin-top: 30.85px;
}

.menu .link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu .link p {
	margin-left: 22.46px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.menu .link i.arrow {
	cursor: pointer;
	width: 79.94px;
	height: 79.83px;
	background: url(./img/icon/larrow.svg) 50% 50% no-repeat;
	background-size: 100% 100%;
}

.toget {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #4f5255;
}

.footer {
	display: flex;
	flex-direction: column;
	padding: 62.01px 2px 0px 2.6px;
	background: linear-gradient(0deg, #f5f7f6, #f5f7f6), #ffffff;
}

.footerc {
	display: flex;
}

.footer .fmenu ul {
	margin-top: 31px;
	list-style-type: none;
}

.footer .fmenu > p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.125em;
	color: #000000;
	text-transform: uppercase;
}
.footer .fmenu ul li {
	margin: 8px 0px;
}

.footerw {
	display: flex;
	flex-direction: column;
	flex: 4;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	background: rgb(255, 255, 255);
	justify-content: center;
	padding: 54.54px 127.67px 23.87px 86.9px;
}

.fmenucont {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .social {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding-left: 56.98px;
	justify-content: center;
}

.footer .social div > p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	fill: #5f5f5f;
}

.footer .social > div.global {
	display: flex;
	align-items: center;
	margin-top: 47.33px;
}

.footer .social div > i.earth {
	margin-left: 9.1px;
	display: block;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	background: url(./img/icon/earths.svg) 50% 50% no-repeat;
	fill: #5f5f5f;
}

.footer .fmenu ul li a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #5f5f5f;
}

.footer .fmenu ul li .icon {
	display: block;
	cursor: pointer;
	width: 17px;
	height: 17px;
}

.footer .payment {
	display: flex;
	align-items: center;
	margin-top: 41.59px;
}

.footer .payment .icon {
	display: block;
	cursor: pointer;
	width: 38px;
	height: 24px;
	margin-right: 8.8px;
}

.icon.facebook {
	background-size: 100% 100%;
	background: url(./img/social/facebook.svg) 50% 50% no-repeat;
}

.icon.instagram {
	background-size: 100% 100%;
	background: url(./img/social/instagram.svg) 50% 50% no-repeat;
}

.icon.twitter {
	background-size: 100% 100%;
	background: url(./img/social/twitter.svg) 50% 50% no-repeat;
}

.icon.youtube {
	background-size: 100% 100%;
	background: url(./img/social/youtube.svg) 50% 50% no-repeat;
}

.footer .fmenu ul li {
	margin: 16px 0px;
}

.copyright {
	margin: 21.28px 0px 25.72px 86.9px;
	/* margin-top: 25px;
	margin-left: 86.9px; */
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 140.69%;
	color: #575f61;
}

.product {
	flex: 1;
	flex-direction: column;
	margin-top: 33.02px;
}

.product p.name {
	margin-top: 12.6px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #212121;
}

.product p.colors {
	margin-top: 2px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	color: #212121;
}

.product .prices {
	margin-top: 12.59px;
	display: flex;
	align-items: center;
}

.product p.oprice {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	text-decoration-line: line-through;
	color: #212121;
}

.product p.cprice {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	color: #b00020;
	margin-left: 8px;
}

.product .colorcont {
	cursor: pointer;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.product .colorcont > div {
	width: 12px;
	height: 12px;
	border-radius: 12px;
}

.pcolors {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	color: #212121;
}

.about {
	margin-top: 134.79px;
	display: flex;

	/* height: 88vh; */
}

.about .para {
	padding: 78.47px 76.77px 0px 49.56px;
}

.about .para > h1 {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 106.3%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #1f1f1f;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}

.about .para > p {
	margin-top: 28.49px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 142.3%;
	color: #353535;
}

.about .img {
	width: 66%;
	background: url(/img/about.png) no-repeat;
	background-position: center center;
	background-size: cover;
}

.subscripe {
	margin-top: 55.14px;
}

.subscripe h1 {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	color: #4f5255;
}

.subscripe p {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	color: #4f5255;
}
.subscripe p.agree {
	margin-top: 8px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: 0.5px;
	color: #4f5255;
	margin-bottom: 67.89px;
}

.subscripe p.agree u{
	font-weight: bold;
}

.subscripe .input {
	display: flex;
	margin: auto;
	width: 640px;
	height: 48px;
	background: #f5f7f6;
	border-radius: 10px;
	margin-top: 36px;
}

.subscripe .input input {
	width: 100%;
	background: #f5f7f6;
	border-radius: 10px;
	padding: 16px 0px 16px 24px;
}

textarea:focus,
input:focus {
	outline: none;
}
